<div class="container-fluid background p-5">
  <div class="container jumbo">
    <div class="row p-4" *ngFor="let std of students; let i = index">
      <div
        class="img-container p-0 col-xl-1 col-lg-2 col-md-3 col-sm-4 col-xs-2"
      >
        <img class="img-profile" src="{{ std.pic }}" />
      </div>

      <div
        class="p-0 float-left line col-xl-6 col-lg-6 col-md-6 col-sm-8 col-xs-6"
      >
        <h3 style="text-transform: uppercase; font-weight: 700;">
          {{ std.firstName }} {{ std.lastName }}
        </h3>
        <p>Email: {{ std.email }}</p>
        <p>Company: {{ std.company }}</p>
        <p>Skill: {{ std.skill }}</p>
        <p>Average: {{ gradesNum[i] }}%</p>
        <br />
      </div>
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <hr />
      </div>
    </div>
  </div>
</div>
