<div class="container-fluid background p-5">
  <div class="p-0 container jumbo">
    <div class="row mx-0 justify-content-center pb-4">
      <input
        id="dark1"
        type="text"
        class="pt-3 text-line"
        placeholder="Search by name"
        (keyup)="searchStd($event)"
        (click)="makeDarkLine()"
      />
      <input
        id="dark2"
        type="text"
        class="pt-3 text-line"
        placeholder="Search by tags"
        (click)="searchByTag($event)"
        (click)="makeDarkLine2()"
      />
    </div>

    <div *ngFor="let std of filteredStudents; let i = index">
      <div class="row mx-0 px-0 py-1">
        <div class="img-container col-xl-2 col-lg-2 col-md-3 col-sm-4 col-xs-2">
          <img class="img-profile" src="{{ std.pic }}" />
        </div>

        <div class="p-0 line col-xl-10 col-lg-10 col-md-9 col-sm-8 col-xs-10">
          <div *ngIf="!std.open" class="float-right float-top">
            <div class="plus" (click)="description(std)">
              <i class="pr-4 float-right fas fa-plus fa-2x"></i>
            </div>
          </div>
          <div *ngIf="std.open">
            <div class="plus" (click)="description(std)">
              <i class="pr-4 float-right fas fa-minus fa-2x"></i>
            </div>
          </div>
          <h3 style="text-transform: uppercase; font-weight: 700;">
            {{ std.firstName }} {{ std.lastName }}
          </h3>

          <p>Email: {{ std.email }}</p>
          <p>Company: {{ std.company }}</p>
          <p>Skill: {{ std.skill }}</p>
          <p class="mb-1">Average: {{ gradesNum[i] }}%</p>
        </div>
      </div>
      <!--Only shows when the user click on the plus sign-->

      <!--GRADES-->
      <div class="row m-0 p-0">
        <div class="mt-4" *ngIf="std.open" (click)="description(std)">
          <div
            *ngFor="let mark of filteredStudents[i].grades; let z = index"
            class="pl-5 float-left line col-xl-8 col-lg-8 col-md-7 col-sm-8 col-xs-6"
          >
            <p class="alignment float-left">
              Test {{ z + 1 }}:
              <span class="pl-3">{{ filteredStudents[i].grades[z] }}%</span>
            </p>
          </div>
        </div>
      </div>
      <!--GRADES_END-->
      <div *ngIf="std.open" class="row m-0 p-0">
        <div
          *ngFor="let tag of filteredStudents[i].tags; let p = index"
          class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12"
        >
          <span class="mb-2 btn change-btn-color r">{{
            filteredStudents[i].tags[p]
          }}</span>
        </div>
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <form (submit)="sendForm(f, i)" #f="ngForm">
            <input
              *ngIf="std.open"
              name="inputTag"
              id="dark3"
              type="text"
              class="addTag ajust"
              ngModel
              (click)="makeDarkLine3()"
              placeholder="Add a tag"
            />
            <a type="submit"></a>
          </form>
        </div>
      </div>

      <!--Only shows when the user click on the plus sign-->

      <div
        class=" py-1 m-0 p-0 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12"
      >
        <hr width="100%" />
      </div>
    </div>
  </div>
</div>
