<div class="container-fluid">
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div *ngFor="let std of students; let i = index">
        <img src="{{ std.pic }}" alt="user-image" />
        <br /><br />
        <p>
          <strong>{{ std.firstName }} {{ std.lastName }}</strong>
        </p>
        <p>Email: {{ std.email }}</p>
        <p>Company: {{ std.company }}</p>
        <p>Skill: {{ std.skill }}</p>
        <p>Average:{{ gradesNum[i] }}</p>
      </div>
    </div>
  </div>
</div>
