<!-- <div class="container-fluid">
  <div class="row p-3">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <input type="text" class="text-line" placeholder="Search by name" />
    </div>
  </div>
  <br>
  <div
    class="row justify-content-left text-left line"
    *ngFor="let std of students"
  >
    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-xs-2">
      <img class="img-profile mt-4 float-right" src="{{ std.pic }}" />
    </div>
    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-6">
      <div>
        <h3 style="text-transform: uppercase; font-weight: 700;">
          {{ std.firstName }} {{ std.lastName }}
        </h3>
        <p>Email: {{ std.email }}</p>
        <p>Company: {{ std.company }}</p>
        <p>Skill: {{ std.skill }}</p>
        <p>Average:{{ getAVG() }}</p>
        <br />
      </div>
    </div>
  </div>
  <hr />
</div>
 -->
<div class="container-fluid background p-5">
  <div class="container jumbo">
    <div class="row">
      <input
        id="StudentSearch"
        name="StdSearch"
        type="text"
        class="pt-3 text-line"
        placeholder="Search by name"
        (keyup)="searchStudent($event)"
      />
    </div>
    <div class="row p-4" *ngFor="let std of students; let i = index">
      <div
        class="img-container p-0 col-xl-1 col-lg-2 col-md-3 col-sm-4 col-xs-2"
      >
        <img class="img-profile" src="{{ std.pic }}" />
      </div>

      <div
        class="p-0 float-left line col-xl-6 col-lg-6 col-md-6 col-sm-8 col-xs-6"
      >
        <h3 style="text-transform: uppercase; font-weight: 700;">
          {{ std.firstName }} {{ std.lastName }}
        </h3>
        <p>Email: {{ std.email }}</p>
        <p>Company: {{ std.company }}</p>
        <p>Skill: {{ std.skill }}</p>
        <p>Average: {{ gradesNum[i] }}</p>
        <br />
      </div>
      <div class="m-0 p-0 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <hr width="100%" />
      </div>
    </div>
  </div>
</div>
